@use "colors";

.content {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    background-color: white;
    border-radius: 5px;
    padding: 20px;

    &__header {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-items: baseline;
        margin: 15px 0;
    }
}

.content__title {
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    margin-left: 10px;
    margin-right: 20px;
    padding: 0;
}


.date {
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0;
    margin-right: 20px;
}

.submenu {
    margin: 0;
    width: fit-content;
    display: flex;
    gap: 10px;

    &__item {
    background-color: #b6b5b5;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 16px;
  
    &:hover  {
    background-color: #979696;
    }

    &--active {
        background-color: colors.$primary;

        &:hover  {
            background-color: colors.$primary;
        }
    }
}
}

.filter {
    margin: 20px 0;
    padding: 25px 30px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    position: relative;

    &::before {
        content: "FILTER";
        color: #c7c6c6;
        font-size: 12px;
        font-weight: 400;
        background-color: white;
        position: absolute;
        top: -7px;
    }

}

.form__field {
    color: #6e6e6e;
    padding: 7px 10px;
    border-radius: 15px;
    margin-right: 25px;

    &:focus {
        outline: none;
    }

    &--small {
        width: 100px;
        margin-right: 10px;
    }

    &--middle {
        width: 170px;
        border: 1.5px solid black;
    }

    &--big {
        width: 200px;
    }
}

.form__icon {
    font-size: 13px;
}

.form__label {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 2px;
}

@media screen and (min-width: 1050px) {

.content__title {
    margin-right: 40px;

}


.date {

    margin-right: 40px;
}



.submenu {
    margin: 0;
    width: fit-content;
    display: flex;
    gap: 45px;
}
.content {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    &__header {
        display: flex;
        align-items: baseline;
        margin: 45px 0;
        gap: 0;
    }
}
}