@use "menu";
@use "colors";

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    margin: 0;
    background-color: white;
    border-bottom: 2.5px solid #585563;
}

.logo {

    width: 260px;

    &__image {
        width: 100%;
    }

    &__link {
        color: black;
    }

    &__icon {
        width: 35px;
        position: relative;
        top: 9px;
        left: 9px;
        z-index: -1;
        transform: rotate(50deg);

        &:hover {            /*nastavit protáčení ikonky při hoveru celého loga?*/
            transform: rotate(360deg);
            transition: 1s;    
        }
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: 1.7px;
        display: inline-block;
        font-size: 26px;
        font-weight: 400;

        &--right {
            color: colors.$primary;
        }
    }
}


@media screen and (min-width: 1050px) {

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    margin: 0;

    &__content {
        display: flex;
        width: 100%;
        max-width: 1150px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}
}