@use "colors";


.layout {
    background-image: url(images/background-photo5.png);
    background-size: 100%;
    background-repeat: repeat-y;
    background-color: white;
    height: 100%;
    display: grid;
    margin: 0;
    grid-template-columns: 10% 90% 10%;
    grid-template-rows: 140px 0 auto 70px 100px;
   
}


@media screen and (min-width: 1100px) {
    

.layout {

    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1100px 1fr;
    grid-template-rows: 110px 100px auto 100px 100px;
   
}
}