@use "colors";

.menu {
    display: flex;
    /*
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "a a a b b c c c"
        ". d d d e e e .";
    justify-items: center; */
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    &__item {
        margin : 5px 10px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 26px;
        color: white;
    }
    /*
        &--a {
            grid-area: a;
        }

        &--b {
            grid-area: b;
        }


        &--c {
            grid-area: c;
        }


        &--d {
            grid-area: d;
        }


        &--e {
            grid-area: e;
        }
    } */

    &__link {
        text-decoration: none;
        color: white;
        font-size: 18px;
    
        &--active {
            color: colors.$primary;
        }
    }
}

@media screen and (min-width: 1000px) {

.menu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin: 0;

    &__item {
        margin : 12px 25px 0 15px;
        font-weight: 400;
        letter-spacing: 1px; 
    }

    &__link { 
        text-decoration: none;
        color: white;
        font-size: 18px;

        &:hover {
            text-decoration: underline;
        }
    
        &--active {
            color: colors.$primary;
        
            &:hover {
                text-decoration: none;
            }
        }
}
}
}