
.grid {
    margin: 0 auto;
    display: grid;
    grid-auto-rows: auto;
    background-color: white;
}

.grid__row {
    display: grid;
    align-items: end;
    padding: 7px 38px;
    margin: 0 12px;
    border-bottom: 1.5px solid #f4f4f4;
    grid-template-columns: 50px 70px 1.5fr 50px 1fr 50px;
}

.grid__row:nth-child(2) {
    padding-top: 15px;
}

/*
.grid__row:nth-child(even) {
    background-color: #ededed91;
}

.grid__row:nth-child(4n - 2) {
    padding: 5px 47px;
    margin: 0 3px;
} */

.grid__head {
    font-weight: 400;
    background-color: #585563;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 50px;
    margin: 0;
}

.grid__data--small {
    font-size: 14px;
}